pandas==1.5.1
tqdm==4.*
xmltodict==0.13.0
pyspark==3.3.0
ipykernel==6.16.1
flake8==5.0.4
black==22.10.0
seaborn==0.12.1
datasets==2.6.1
wordcloud==1.8.2.2
pydantic==1.10.4
pubmed-parser==0.3.1
geopandas==0.12.2
country-converter==1.0.0
transformers==4.28.1
evaluate==0.4.0
nltk==3.8.1
torch==2.0.0
absl-py==1.4.0
rouge_score==0.1.2
wandb==0.14.2
tqdm
peft==0.2.0
bitsandbytes==0.38.1
accelerate==0.18.0
pylatex==1.4.1